{"openapi":"3.0.1","info":{"title":"AIPark API","description":"기업연계 파이널 프로젝트 API 문서 백엔드 개발용","version":"1.0.0"},"servers":[{"url":"http://api.popomance.kr:8080","description":"Generated server url"}],"tags":[{"name":"tts-controller-_team-_api","description":"텍스트를 오디오 파일로 변환하는 API"},{"name":"Voice Conversion API","description":"Voice Conversion 관련 기능을 제공합니다."}],"paths":{"/vc/save":{"post":{"tags":["vc-view-controller-_team-_multi"],"summary":"VC 상태 저장","description":"VC 프로젝트 상태를 저장합니다.<br>- 새로운 프로젝트를 생성하거나 기존 프로젝트를 업데이트합니다.<br>- 사용자가 s3에 업로드한 오디오를 선택하면 MultipartFile의 값은 null로 보냅니다.<br>- 파일(MultipartFile)과 메타데이터(JSON)를 동시에 전송해야 합니다.","operationId":"saveVCProject","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["metadata"],"type":"object","properties":{"file":{"type":"array","items":{"type":"string","format":"binary"}},"metadata":{"$ref":"#/components/schemas/VCSaveDto"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseDto"}}}}}}},"/vc/process":{"post":{"tags":["Voice Conversion API"],"summary":"VC 프로젝트 처리","description":"소스/타겟 오디오 파일 처리 및 Voice ID 생성","operationId":"processVCProject","parameters":[{"name":"memberId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["files","vcSaveDto"],"type":"object","properties":{"vcSaveDto":{"$ref":"#/components/schemas/VCSaveDto"},"files":{"type":"array","items":{"type":"string","format":"binary"}}}}}}},"responses":{"200":{"description":"VC 프로젝트 처리 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseDto"}}}}}}},"/tts/upload-generated-audio-to-bucket":{"post":{"tags":["s-3-controller"],"summary":"유닛(TTS or VC) 오디오 업로드","description":"유닛 오디오를 S3 버킷에 저장하고 메타데이터를 DB에 저장하는 api입니다.<br><br>매개변수 : <br>- 유닛 id, <br>- 프로젝트 id, <br>- 프로젝트 타입 (TTS, VC, Concat), <br>- 오디오 파일","operationId":"uploadUnit","parameters":[{"name":"detailId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseDto"}}}}}}},"/vc/upload-generated-audio-to-bucket":{"post":{"tags":["s-3-controller"],"summary":"유닛(TTS or VC) 오디오 업로드","description":"유닛 오디오를 S3 버킷에 저장하고 메타데이터를 DB에 저장하는 api입니다.<br><br>매개변수 : <br>- 유닛 id, <br>- 프로젝트 id, <br>- 프로젝트 타입 (TTS, VC, Concat), <br>- 오디오 파일","operationId":"uploadUnit_1","parameters":[{"name":"detailId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseDto"}}}}}}},"/tts/save":{"post":{"tags":["tts-view-controller-_team-_multi"],"summary":"TTS 상태 저장","description":"TTS 프로젝트 상태를 저장합니다.","operationId":"ttsSave","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TTSSaveDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseDto"}}}}}}},"/tts/convert/batch":{"post":{"tags":["tts-controller-_team-_api"],"summary":"TTS 배치 변환","description":"주어진 텍스트 목록을 오디오 파일로 변환합니다.","operationId":"convertBatchTexts","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TTSSaveDto"}}},"required":true},"responses":{"500":{"description":"서버 내부 오류","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseDto"}}}},"400":{"description":"잘못된 요청 데이터","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseDto"}}}},"200":{"description":"성공적으로 TTS 변환 완료","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseDto"}}}}}}},"/vc/upload-local-to-bucket":{"post":{"tags":["s-3-controller"],"summary":"유저가 가지고 있는 오디오를 버킷에 저장","description":"VC, CONCAT으로 변환할 오디오를 클라이언트 로컬컴퓨터로부터 버킷에 저장하는 api입니다.<br><br>매개변수:<br>- 파일, <br>- 멤버Id, <br>- projectId, <br>- audioType<br>오디오 타입이 VC_TRG일 경우 마지막 매개변수로 voiceId를 입력합니다.","operationId":"uploadFiles","parameters":[{"name":"memberId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"audioType","in":"query","required":true,"schema":{"type":"string"}},{"name":"voiceId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["files"],"type":"object","properties":{"files":{"type":"array","items":{"type":"string","format":"binary"}}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseDto"}}}}}}},"/concat/upload-local-to-bucket":{"post":{"tags":["s-3-controller"],"summary":"유저가 가지고 있는 오디오를 버킷에 저장","description":"VC, CONCAT으로 변환할 오디오를 클라이언트 로컬컴퓨터로부터 버킷에 저장하는 api입니다.<br><br>매개변수:<br>- 파일, <br>- 멤버Id, <br>- projectId, <br>- audioType<br>오디오 타입이 VC_TRG일 경우 마지막 매개변수로 voiceId를 입력합니다.","operationId":"uploadFiles_1","parameters":[{"name":"memberId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"projectId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"audioType","in":"query","required":true,"schema":{"type":"string"}},{"name":"voiceId","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["files"],"type":"object","properties":{"files":{"type":"array","items":{"type":"string","format":"binary"}}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseDto"}}}}}}},"/concat/upload-generated-audio-to-bucket":{"post":{"tags":["s-3-controller"],"summary":"Concat 오디오 업로드","description":"컨캣 오디오를 S3 버킷에 저장하고 메타데이터를 DB에 저장하는 api입니다.<br><br>매개변수 : <br>- 프로젝트 id, <br>- 오디오 파일","operationId":"uploadConcat","parameters":[{"name":"projectId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseDto"}}}}}}},"/concat/save":{"post":{"tags":["concat-view-controller-_team-_aws"],"summary":"Concat 상태 저장","description":"Concat 프로젝트 상태를 저장합니다.","operationId":"concatSave","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConcatSaveDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseDto"}}}}}}},"/concat/delete/{projectId}":{"post":{"tags":["concat-view-controller-_team-_aws"],"summary":"Concat 프로젝트 삭제","description":"해당 Concat 프로젝트를 삭제하고 관련된 소스, 아웃풋 오디오를 삭제합니다.","operationId":"deleteConcatProject","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseDto"}}}}}}},"/concat/delete/details":{"post":{"tags":["concat-view-controller-_team-_aws"],"summary":"Concat 선택된 항목 삭제","description":"Concat 프로젝트에서 선택된 모든 항목을 삭제합니다.","operationId":"deleteConcatDetails","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseDto"}}}}}}},"/concat/convert/batch":{"post":{"tags":["Audio Concat"],"summary":"오디오 파일 병합","description":"여러 오디오 파일을 업로드하고, 파일 사이에 무음을 추가하여 병합된 파일을 생성합니다.","operationId":"convertMultipleAudios","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["concatRequestDto","files"],"type":"object","properties":{"concatRequestDto":{"$ref":"#/components/schemas/ConcatRequestDto"},"files":{"type":"array","description":"업로드할 파일들","items":{"type":"string","format":"binary"}}}}}}},"responses":{"400":{"description":"잘못된 요청","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseDto"}}}},"500":{"description":"서버 오류","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseDto"}}}},"200":{"description":"병합 성공","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataResponseDto"}}}}}}},"/vc/{projectId}":{"get":{"tags":["vc-view-controller-_team-_multi"],"summary":"VC 상태 로드","description":"VC 프로젝트 상태를 가져옵니다.","operationId":"vcLoad","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseDto"}}}}}}},"/tts/{projectId}":{"get":{"tags":["tts-view-controller-_team-_multi"],"summary":"TTS 상태 로드","description":"TTS 프로젝트 상태를 가져옵니다.","operationId":"ttsLoad","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseDto"}}}}}}},"/test/success":{"get":{"tags":["test-controller"],"operationId":"testSuccess","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseDto"}}}}}}},"/test/fail":{"get":{"tags":["test-controller"],"operationId":"testFail","parameters":[{"name":"Do Would you like to throw an exception?","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseDto"}}}}}}},"/concat/{projectId}":{"get":{"tags":["concat-view-controller-_team-_multi"],"summary":"Concat 상태 로드","description":"Concat 프로젝트 상태를 가져옵니다.","operationId":"concatLoad","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseDto"}}}}}}},"/tts/download-generated-audio-from-bucket":{"get":{"tags":["s-3-controller"],"summary":"버킷에 있는 오디오 다운로드","description":"오디오를 S3 버킷으로부터 다운로드 받을수 있는 URL을 제공하는 API 입니다.<br><br>매개변수:<br>- 버킷 경로","operationId":"downloadGeneratedAudio","parameters":[{"name":"bucketRoute","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseDto"}}}}}}},"/vc/download-to-generate-audio-from-bucket":{"get":{"tags":["s-3-controller"],"summary":"버킷에 있는 오디오 다운로드","description":"오디오를 S3 버킷으로부터 다운로드 받을수 있는 URL을 제공하는 API 입니다.<br><br>매개변수:<br>- 버킷 경로","operationId":"downloadGeneratedAudio_1","parameters":[{"name":"bucketRoute","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseDto"}}}}}}},"/vc/download-generated-audio-from-bucket":{"get":{"tags":["s-3-controller"],"summary":"버킷에 있는 오디오 다운로드","description":"오디오를 S3 버킷으로부터 다운로드 받을수 있는 URL을 제공하는 API 입니다.<br><br>매개변수:<br>- 버킷 경로","operationId":"downloadGeneratedAudio_2","parameters":[{"name":"bucketRoute","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseDto"}}}}}}},"/concat/download-generated-audio-from-bucket":{"get":{"tags":["s-3-controller"],"summary":"버킷에 있는 오디오 다운로드","description":"오디오를 S3 버킷으로부터 다운로드 받을수 있는 URL을 제공하는 API 입니다.<br><br>매개변수:<br>- 버킷 경로","operationId":"downloadGeneratedAudio_3","parameters":[{"name":"bucketRoute","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseDto"}}}}}}},"/concat/download-to-generate-audio-from-bucket":{"get":{"tags":["s-3-controller"],"summary":"버킷에 있는 오디오 다운로드","description":"오디오를 S3 버킷으로부터 다운로드 받을수 있는 URL을 제공하는 API 입니다.<br><br>매개변수:<br>- 버킷 경로","operationId":"downloadGeneratedAudio_4","parameters":[{"name":"bucketRoute","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseDto"}}}}}}},"/":{"get":{"tags":["home-controller"],"operationId":"mainPage","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseDto"}}}}}}},"/vc/delete/{projectId}":{"delete":{"tags":["vc-view-controller-_team-_multi"],"summary":"VC 프로젝트 삭제","description":"VC 프로젝트와 생성된 오디오 등 관련된 데이터를 전부 삭제합니다.","operationId":"deleteVCProject","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseDto"}}}}}}},"/vc/delete/target/{audioId}":{"delete":{"tags":["vc-view-controller-_team-_multi"],"summary":"VC 프로젝트 target 오디오 선택 항목 삭제","description":"VC 프로젝트에서 target 오디오 선택된 모든 항목을 삭제합니다.","operationId":"deleteTRGAudio","parameters":[{"name":"audioId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseDto"}}}}}}},"/vc/delete/details":{"delete":{"tags":["vc-view-controller-_team-_multi"],"summary":"VC 선택된 항목 삭제","description":"VC 프로젝트에서 선택된 모든 항목을 삭제합니다.","operationId":"deleteVCDetail","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseDto"}}}}}}},"/tts/delete/{projectId}":{"delete":{"tags":["tts-view-controller-_team-_multi"],"summary":"TTS 프로젝트 삭제","description":"TTS 프로젝트와 생성된 오디오를 전부 삭제합니다.","operationId":"deleteTTSProject","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseDto"}}}}}}},"/tts/delete/details":{"delete":{"tags":["tts-view-controller-_team-_multi"],"summary":"TTS 선택된 항목 삭제","description":"TTS 프로젝트에서 선택된 모든 항목을 삭제합니다.","operationId":"deleteTTSDetail","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseDto"}}}}}}}},"components":{"schemas":{"AudioFileDto":{"type":"object","properties":{"audioType":{"type":"string","enum":["VC_SRC","VC_TRG","CONCAT"]},"s3MemberAudioMetaId":{"type":"integer","format":"int64"},"localFileName":{"type":"string"},"unitScript":{"type":"string"},"isChecked":{"type":"boolean"}}},"VCSaveDto":{"type":"object","properties":{"projectId":{"type":"integer","format":"int64"},"projectName":{"type":"string"},"srcFiles":{"type":"array","items":{"$ref":"#/components/schemas/AudioFileDto"}},"trgFiles":{"type":"array","items":{"$ref":"#/components/schemas/AudioFileDto"}}}},"ResponseDto":{"type":"object","properties":{"success":{"type":"boolean"},"code":{"type":"integer","format":"int32"},"message":{"type":"string"}}},"TTSDetailDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"unitScript":{"type":"string"},"unitSpeed":{"type":"number","format":"float"},"unitPitch":{"type":"number","format":"float"},"unitVolume":{"type":"number","format":"float"},"isDeleted":{"type":"boolean"},"unitSequence":{"type":"integer","format":"int32"},"unitVoiceStyleId":{"type":"integer","format":"int64"}}},"TTSSaveDto":{"type":"object","properties":{"projectId":{"type":"integer","format":"int64"},"memberId":{"type":"integer","format":"int64"},"projectName":{"type":"string"},"globalVoiceStyleId":{"type":"integer","format":"int64"},"fullScript":{"type":"string"},"globalSpeed":{"type":"number","format":"float"},"globalPitch":{"type":"number","format":"float"},"globalVolume":{"type":"number","format":"float"},"ttsDetails":{"type":"array","items":{"$ref":"#/components/schemas/TTSDetailDto"}}}},"ConcatDetailDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"audioSeq":{"type":"integer","format":"int32"},"unitScript":{"type":"string"},"endSilence":{"type":"number","format":"float"},"memberAudioMeta":{"$ref":"#/components/schemas/MemberAudioMeta"},"checked":{"type":"boolean"}}},"ConcatSaveDto":{"type":"object","properties":{"projectId":{"type":"integer","format":"int64"},"projectName":{"type":"string"},"globalFrontSilenceLength":{"type":"number","format":"float"},"globalTotalSilenceLength":{"type":"number","format":"float"},"concatDetails":{"type":"array","items":{"$ref":"#/components/schemas/ConcatDetailDto"}}}},"Member":{"type":"object","properties":{"createdDate":{"type":"string","format":"date-time"},"lastModifiedDate":{"type":"string","format":"date-time"},"createdBy":{"type":"string"},"lastModifiedBy":{"type":"string"},"id":{"type":"integer","format":"int64"},"email":{"type":"string"},"pwd":{"type":"string"},"name":{"type":"string"},"gender":{"type":"integer","format":"int32"},"birthDate":{"type":"string","format":"date-time"},"phoneNumber":{"type":"string"},"tou":{"type":"string"},"is_deleted":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"deletedAt":{"type":"string","format":"date-time"}}},"MemberAudioMeta":{"type":"object","properties":{"createdDate":{"type":"string","format":"date-time"},"lastModifiedDate":{"type":"string","format":"date-time"},"createdBy":{"type":"string"},"lastModifiedBy":{"type":"string"},"id":{"type":"integer","format":"int64"},"member":{"$ref":"#/components/schemas/Member"},"bucketRoute":{"type":"string"},"audioUrl":{"type":"string"},"script":{"type":"string"},"audioType":{"type":"string","enum":["VC_SRC","VC_TRG","CONCAT"]},"trgVoiceId":{"type":"string"},"isDeleted":{"type":"boolean"},"audioFormat":{"type":"string","enum":["WAV","MP3"]},"createdAt":{"type":"string","format":"date-time"},"deletedAt":{"type":"string","format":"date-time"}}},"ConcatRequestDetailDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"audioSeq":{"type":"integer","format":"int32"},"unitScript":{"type":"string"},"endSilence":{"type":"number","format":"float"},"sourceAudio":{"type":"string","format":"binary"},"checked":{"type":"boolean"}}},"ConcatRequestDto":{"type":"object","properties":{"projectId":{"type":"integer","format":"int64"},"memberId":{"type":"integer","format":"int64"},"projectName":{"type":"string"},"globalFrontSilenceLength":{"type":"number","format":"float"},"globalTotalSilenceLength":{"type":"number","format":"float"},"concatRequestDetails":{"type":"array","items":{"$ref":"#/components/schemas/ConcatRequestDetailDto"}}},"description":"요청 DTO"},"DataResponseDto":{"type":"object","properties":{"success":{"type":"boolean"},"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"object"}}}}}}